## huggingface 
HF_TOKEN=""
## Search (https://serper.dev/)
SERPER_API_KEY=""

# Model configuration
DEFAULT_MODEL =""
OPENAI_BASE_URL = ""
OPENAI_API_KEY = ""

## JINA (https://jina.ai/)
JINA_API_KEY=""
